body{

  margin: 0;

  padding: 0;

  background: url(background.jpg) no-repeat;

  background-size: cover;

}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40xp;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
